<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" 
        content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dev Skills</title>
</head>
<body>
    <h1>Chris' Dev Skills Page</h1>
    <a href="/skills">Dev Skills</a>
    <a href="/add">Add Skill</a>
</body>
</html>